*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
}

header {
    background-color: white;
    position: relative;
    padding: 1rem;
}

nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.header img {
    width: 27px;
}

nav ul {
    list-style-type: none;
    top: 0.7rem;
    left: 1rem;
    align-self: center;
}

nav li {
    display: inline;
    margin-right: 0.5rem;
}

main {
    margin: 1rem auto;
    width: 80%;
}

main section {
    padding: 2rem;
}

.home {
    background-image: url("./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-size: 40px;
    color: white;
    font-weight: normal;
}

.home h2 {
    font-size: 40px;
    color: white;
    font-weight: normal;
}

.about h1 {
    font-size: 30px;
    font-weight: normal;
}

.image1 img {
    width: 150px;
}

.image2 img {
    width: 150px;
}

.products h1 {
    font-size: 30px;
    font-weight: normal;
}

.products img {
    width: 150px;
}

.contact h1 {
    font-size: 30px;
    font-weight: normal;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

textarea {
    height: 150px;
}

input[type=send] {
    background-color: orange;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 100px;
    margin-right: 0;
    margin-left: auto;
    text-align: center;
}

.contactform {
    font-size: 20px;
    font-weight: normal;
    background-color: white;
    padding: 20px;
}

footer {
    background-color: orange;
    text-align: center;
    padding: 4rem;
    width: 100%;
    left: 0;
    bottom: 0;
}

hr {
    border: 3px solid black;
    border-radius: 5px;
    align-self: center;
}