*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
}

header {
    background-color: white;
    position: relative;
    padding: 1rem;
}

nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}

img {
    width: 27px;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    align-self: center;
}

nav li {
    display: inline;
    margin-right: 0.5rem;
}

main {
    margin: 1rem auto;
    width: 80%;
}

main section {
    margin-top: 6rem;
    padding: 2rem;
}

.home img {
    float: left;
    margin-right: 3rem;
    width: 400px;
}

.about img {
    width: 150px;
}

.products img {
    width: 150px;
}


footer {
    background-color: orange;
    text-align: center;
    padding: 4rem;
    width: 100%;
    left: 0;
    bottom: 0;
}

hr {
    border: 3px solid black;
    border-radius: 5px;
    align-self: center;
}